# editorconfig.org
root = true

[*]
indent_style = tab
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{.travis.yml,circle.yml,appveyor.yml,.vsts/**}]
indent_style = space
indent_size = 2

[{npm-shrinkwrap.json,package-lock.json,package.json}]
indent_style = space
indent_size = 2
