# Common files
.editorconfig
.gitignore
.travis.yml
appveyor.yml
tconfig.json
tslint.json

# Builded files
out/benchmark
out/tests
out/**/*.js.map
out/**/*.spec.js

# Editor directories
.vscode

# Other directories
.tmp
.benchmark
src
node_modules
