name: Benchmark

on:
  push:
    branches: ['master', 'releases/*']
  pull_request:
    branches: ['*']

jobs:
  product:
    name: Product benchmark
    concurrency:
      group: ${{ github.workflow }}-benchmark-product-${{ github.ref }}
      cancel-in-progress: true
    runs-on: ubuntu-latest
    steps:
      - name: Setup repository
        uses: actions/checkout@v4
      - name: Setup environment
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install dependencies
        run: npm install
      - name: Prepare bundle
        run: npm run bundle
      - name: Benchmark (async)
        run: npm run bench:product:async
      - name: Benchmark (stream)
        run: npm run bench:product:stream
      - name: Benchmark (sync)
        run: npm run bench:product:sync

  regress:
    name: Regress benchmark with options (${{ matrix.benchmark_options }})
    concurrency:
      group: ${{ github.workflow }}-benchmark-regress-${{ matrix.benchmark_options }}-${{ github.ref }}
      cancel-in-progress: true
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        benchmark_options:
          - '{}'
          - '{ "objectMode": true }'
          - '{ "absolute": true }'
    env:
      BENCHMARK_OPTIONS: ${{ matrix.benchmark_options }}
    steps:
      - name: Setup repository
        uses: actions/checkout@v4
      - name: Setup environment
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install dependencies
        run: npm install
      - name: Prepare bundle
        run: npm run bundle
      - name: Benchmark (async)
        run: npm run bench:regression:async
      - name: Benchmark (stream)
        run: npm run bench:regression:stream
      - name: Benchmark (sync)
        run: npm run bench:regression:sync
