name: CI

on:
  push:
    branches: ['master', 'releases/*']
  pull_request:
    branches: ['*']

env:
  SNAPSHOT_SKIP_PRUNING: 1

jobs:
  test:
    name: Node.js ${{ matrix.node_version }} on ${{ matrix.os }}
    concurrency:
      group: ${{ github.workflow }}-build-${{ matrix.os }}-${{ matrix.node_version }}-${{ github.ref }}
      cancel-in-progress: true
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node_version: [18.18.0, 18, 20, 22]
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    steps:
      - name: Setup repository
        uses: actions/checkout@v4
      - name: Setup environment
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node_version }}
      - name: Install dependencies
        run: npm install
      - name: Run Hygiene Checks
        run: npm run lint
      - name: Compile
        run: npm run compile
      - name: Run unit tests
        run: npm run test
      - name: Run e2e tests (sync)
        run: npm run test:e2e:sync
      - name: Run e2e tests (async)
        run: npm run test:e2e:async
      - name: Run e2e tests (stream)
        run: npm run test:e2e:stream
